.footer{
    width: 100%;
}

.footer div{
    float: left;
}

.decor1, .decor2{
    width: 20%;
}

.decor1 img{
    width: 30%;
    height: 20%;
    float: left;
}

.decor2 img{
    width: 30%;
    height: 20%;
    float: right;
}

.content{
    width: 60%;
    text-align: center;
    font-size: 13px;
    color:#fff;
    margin-top:3%;
    text-shadow: 1px 0 8px #000000;
}

